<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block doc_title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="logo">Med Cabinet</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    <div class="container">
      {% block content %}
      <h2>Lambda DS20 - DS21 (TT9)</h2>
      <h3>Anthony  - Indrejue</h3>
      <h3>Jacob  - MaxTechniche</h3>
      <h3>Josh  - Jroc561</h3>
      <h3>Shannon - augurnaut</h3>
      <p> Med Cabinet for new cannabis consumers, especially those trying to get off of 
      pharmaceuticals, who want to use cannabis as a means to battle medical conditions 
      and ailments. Help patients find the right strains, dosing, intake method and intake 
      schedule! Use user data along with strain data to build ML models to guide recommendations. </p>
      {% endblock %}
    </div>
  </body>
</html>