body {
  font-family: Arial;
  background-color: #ffffff;
  padding: 50px;
}
.login {
  margin: 50px auto;
  width: 500px;
}
.login-screen {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}
.form-group {
  padding: 1px;
  width: 100px;
}
.form-control {
  height: 100px;
  width: 200px;
}

input {
  height: 35px;
  width: 100px;
  margin-top: 40px;
  background-color: #297457;
  color: rgb(255, 255, 255);
}

/*
* Formatting the header area
*/
header {
  background-color: #297457;
  height: 35px;
  width: 100%;
  opacity: 0.9;
  margin: 5px auto;
  padding: 5px;
}
header h1.logo {
  margin: 2px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
p {
  width: auto;
  margin: 5px auto;
  word-wrap: break-word;
}
/*
* Centering the body content
*/
div.home {
  padding: 10px 0 30px 0;
  background-color: #e6e6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  background-color: #e6e6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
h2 {
  font-size: 1.5em;
  margin-top: 40px;
  text-align: left;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.2em;
  font-weight: 100;
  margin-top: 5px;
  text-align: left;
  letter-spacing: -1px;
  color: #999;
}
h4 {
  font-size: 1em;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: left;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
}
.menu {
  float: right;
  margin-top: 8px;
}
.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline;
}
.menu a + a {
  margin-left: 35px;
}
